:root {
    --primary: #1771c4;
    --secondary: #d20e0e;
    --shadow: #c1c1c1;
    --hover: #2196F3;
    --text: #000000d9;
    --text-size: 1.125rem;
}

* {
    font-size: 100%;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.Toastify {
    position: absolute;
    z-index: 1;
}

.global-container {
    max-width: 85.375em;
    margin: auto;
}

.Container {
    max-width: 80em;
    margin: auto;
}

h1 {
    font-size: 2rem;
    line-height: 1.25;
}

h2 {
    font-size: 1.625rem;
    line-height: 1.15384615;
}

h3 {
    font-size: 1.375rem;
    line-height: 1.13636364;
}

h5 {
    font-size: 1.125rem;
    line-height: 1.11111111;
}

/* for more than 732 px devices */
@media (min-width: 43.75em) {
    h1 {
        font-size: 2.5rem;
        line-height: 1.125;
    }

    h2 {
        font-size: 2rem;
        line-height: 1.25;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 1.25;
    }

    h5 {
        line-height: 1.22222222;
    }
}

.info-header {
    position: sticky;
    top: 0;
    background: white;
}

/* //more than 900px devices */
@media (min-width: 56.25em) {
    h1 {
        font-size: 3rem;
        line-height: 1.05;
    }

    h2 {
        font-size: 2.25rem;
        line-height: 1.25;
    }

    h3 {
        font-size: 1.75rem;
        line-height: 1.25;
    }

    h4 {
        font-size: 1.5rem;
        line-height: 1.25;
    }

    h5 {
        font-size: 1.25rem;
        line-height: 1.25;
    }

    h6 {
        font-size: 1.125rem;
        line-height: 1.25;
    }
}

.primary {
    background: var(--primary);
    color: #fff !important;
}

.text-primary {
    color: var(--primary);
}

.bg-primary {
    background: var(--primary);
}

.my-30 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.icon-search:before {
    content: "\f002";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}

.icon-reset:before {
    content: "\f0e2";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}

.icon-cash:before {
    content: "\f156";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}

.icon-address:before {
    content: "\f3c5";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}

.form-control {
    box-shadow: none !important;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.pagination li a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--primary);
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}

.pagination li:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.pagination li.disabled {
    cursor: none;
    pointer-events: none;
}

.pagination li.active a {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination li:first-child a {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.pagination li:last-child a {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.top-sticky {
    position: sticky;
    z-index: 99;
    bottom: 0;
}

/* navbar styles */
.Navbar {
    margin: 20px 0px;
    padding: 0px 15px;
    background: #fff;
}

.Navbar__logo-box {
    width: 200px;
}

.Navbar__logo-box img {
    max-width: 100%;
    height: auto;
}

.Navbar .desktop-menu-wrapper {
    margin-top: 23px;
}

.Navbar .desktop-menu-wrapper .default-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.Navbar .desktop-menu-wrapper .default-menu ul li {
    display: inline;

}

.Navbar .desktop-menu-wrapper .default-menu ul li:not(:last-child) {
    border-right: 1px solid var(--secondary);
}


.Navbar .desktop-menu-wrapper .default-menu ul li a {
    padding: 4px 17px;
    font-size: 1.25rem;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
    color: rgb(23, 113, 196);
}

.Navbar .desktop-menu-wrapper .default-menu ul li:last-child a {
    padding-right: 0px;
}


.Navbar .desktop-menu-wrapper .default-menu ul li:last-child a.logout {
    color: #0082d2;
}

.Navbar .desktop-menu-wrapper .default-menu ul li a:hover {
    color: var(--secondary);
    text-decoration: none;
}

.Navbar .desktop-menu-wrapper .default-menu ul li a.active {
    color: var(--secondary);
    font-style: italic;
}


.Navbar .entity-panel .menu-dropdown {
    display: inline-block;
    position: relative;
    margin-top: 4px;
    font-size: var(--text-size);
}

.Navbar .entity-panel .menu-dropdown:hover {
    cursor: pointer;
}


.Navbar .entity-panel .menu-dropdown::before {
    position: absolute;
    content: '';
    /* background-color: var(--primary); */
    border: 10px solid;
    border-color: var(--primary) transparent transparent transparent;
    /* border-radius: 50%; */
    right: -28px;
    margin-top: 7px;
}

.Navbar .entity-panel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    right: -22px;
    background-color: white;
    font-weight: bold;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.Navbar .entity-panel li {
    border-bottom: 1px solid #e5e5e5;
}

.Navbar .entity-panel li:last-child {
    border-bottom: none;
}

.Navbar .entity-panel li a {
    display: block;
    padding: 8px 16px;
    color: var(--text);
    text-decoration: none;
}

.Navbar .entity-panel li a:hover {
    color: #fff;
    background-color: var(--hover);
}


.Navbar .mobile-menu {
    margin-top: 22px;
}

.Navbar .mobile-menu i {
    font-size: 1.813rem;
    color: var(--primary);
}


.Navbar .mobile-menu-wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 51px;
    right: 0px;
    background-color: white;
    font-weight: bold;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.Navbar .mobile-menu-wrapper li {
    border-bottom: 1px solid #e5e5e5;
}

.Navbar .mobile-menu-wrapper li:last-child {
    border-bottom: none;
}

.Navbar .mobile-menu-wrapper li a {
    display: block;
    padding: 8px 16px;
    color: var(--text);
    text-decoration: none;
}


/* job seeker page */
.profile-pic {
    width: 200px;
    margin-bottom: 25px;
    position: relative;
}

.profile-pic .img-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.75);
    display: none;

}

.profile-pic .img-text a {
    cursor: pointer;
    text-decoration: none;
    color: #e97e08;
    position: absolute;
    left: 45px;
    bottom: 7px;
}

.info-container p {
    padding: 0;
    margin: 0 0 10px;
}

.jobseeker-nav-pill {
    text-align: center;
    background-color: #fff;
    width: 200px;
    border: 0;
    margin: 10px 0;
    color: var(--text);
}

.jobseeker-nav-pill a {
    padding: 10px;
    outline: 1px solid var(--text);
    display: block;
    text-decoration: none;
    color: var(--text);
}

.jobseeker-nav-pill a:hover {
    cursor: pointer;
    outline: 1px solid #fff;
    background: var(--hover);
    color: #fff;
}

.jobseeker-nav-pill a.active {
    background-color: var(--primary);
    outline: 0;
    color: #fff;
}

.job-box {
    margin-bottom: 25px;
}

.job-applied-header {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.job-applied-title {
    padding: 10px;
    text-align: center;
    background-color: var(--shadow);
    width: 250px;
}

.job-title h5 {
    color: var(--primary);
}

.company-title h6 {
    color: #676767;
}

.job-brief {
    color: #3C5162;

}

.job-brief p:last-child {
    margin: 0;
}

.deadline p {
    padding: 8px 5px;
    color: #e97e08;
    margin: 0;
}

.deadline i {
    margin-right: 10px;
    color: var(--primary);
    font-size: var(--text-size);
}

.deadline span {
    margin-left: 6px;
    color: var(--primary);
}

.apply-btn {
    padding: 8px 5px;
    border-radius: 4px;
    text-align: center;
    background-color: var(--primary);
    color: #fff;
    width: 120px;
}

.apply-btn a {
    text-decoration: none;
    color: #fff;
}

.card-text {
    padding: 0 0 10px;
}

.panel-body {
    margin: 5px;
}


/*job seeker top-nav*/
.top-flex {
    width: 100%;
    padding: 5px;
    background-color: var(--shadow);
    color: black;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.info-container {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.info-container p {
    padding: 0;
    margin: 0 0 10px;
}


.xl-thumb {
    padding: 10px;
    text-align: center;
    background-color: var(--primary);
    color: white;
    width: 250px;
    height: 40px;
    margin: 0 10px 10px 10px;
}

.sm-thumb {
    padding: 10px;
    background-color: var(--primary);
    width: 200px;
    height: 40px;
    margin: 10px 0 10px;
    justify-content: center;
}

.xs-thumb {
    padding: 2px;
    text-align: center;
    background-color: var(--primary);
    width: 100px;
    height: 30px;
}

.card-counter {
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 37px 27px;
    background-color: #fff;
    border-radius: 5px;
    transition: .3s linear all;
}

.card-counter:hover {
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
}

.card-counter.primary {
    background-color: #007bff;
    color: #FFF;
}

.card-counter.danger {
    background-color: #ef5350;
    color: #FFF;
}

.card-counter.success {
    background-color: #66bb6a;
    color: #FFF;
}

.card-counter.info {
    background-color: #26c6da;
    color: #FFF;
}

.card-counter i {
    font-size: 5em;
    opacity: 0.2;
}

.card-counter .count-numbers {
    position: absolute;
    right: 35px;
    top: 37px;
    font-size: 2rem;
    display: block;
}

.card-counter .count-name {
    position: absolute;
    right: 35px;
    top: 86px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: var(--text-size);
}

/* jobseeker edit profile */
.jobseeker-name .menu-dropdown {
    display: inline-block;
    position: relative;
    margin-top: 28px;
    font-size: var(--text-size);
}

.jobseeker-name .menu-dropdown::before {
    position: absolute;
    content: '';
    /* background-color: var(--primary); */
    border: 10px solid;
    border-color: var(--primary) transparent transparent transparent;
    /* border-radius: 50%; */
    right: -28px;
    margin-top: 7px;
}

.jobseeker-name .guest-highlight {
    display: inline-block;
    position: relative;
    margin-top: 28px;
    font-size: var(--text-size);
}

.jobseeker-name .guest-highlight::before {
    position: absolute;
    content: '';
    /* background-color: var(--primary); */
    border: 10px solid;
    border-color: var(--hover);
    border-radius: 50%;
    right: -28px;
    margin-top: 2px;
}


.jobseeker-name ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 59px;
    right: -26px;
    background-color: white;
    font-weight: bold;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.jobseeker-name li {
    border-bottom: 1px solid #e5e5e5;
}

.jobseeker-name li:last-child {
    border-bottom: none;
}

.jobseeker-name li a {
    display: block;
    padding: 8px 16px;
    color: var(--text);
    text-decoration: none;
}

.jobseeker-name li a:hover {
    color: #fff;
    background-color: var(--hover);
}


.jobseeker-name .button:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    right: 6px;
    top: 18px;
}

.edit-profile-form-wrap {
    padding-left: 10px;
}

.company-content-wrapper select {
    height: 40px;
}

.edit-profile-form-wrap select {
    height: 40px;
}

.edit-profile-form-wrap input[type="file"] {
    padding-top: 11px;
    height: 40px;
}

.edit-profile-form-wrap .radio-wrapper {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
}

.edit-profile-form-wrap .radio-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.edit-profile-form-wrap .radio-wrapper .checkmark {
    position: absolute;
    top: 0;
    left: -27px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.edit-profile-form-wrap .radio-wrapper:hover input~.checkmark {
    background-color: #ccc;
}


.edit-profile-form-wrap .radio-wrapper input:checked~.checkmark {
    background-color: var(--hover);
}

.edit-profile-form-wrap .radio-wrapper .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.edit-profile-form-wrap .radio-wrapper input:checked~.checkmark:after {
    display: block;
}

.edit-profile-form-wrap .radio-wrapper .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.edit-profile-form-wrap .apply-btn {
    border: 0;
    border-radius: 4px;
    padding: 10px;
}

.edit-profile-form-wrap .btn-file-upload {
    width: 100%;
    position: relative;
}

.edit-profile-form-wrap .btn-file-upload:after {
    content: attr(value);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    color: 000;
    border-radius: 2px;
    text-align: left;
    font-size: var(--text-size);
    line-height: 2.5;
    padding-left: 18px;
}

.edit-profile-form-wrap .form-control {
    box-shadow: none;
}


.job-box .card h5 {
    margin-left: 15px;
}

.job-box .card .description {
    width: 100%;
    height: 381px;
    background: #FFFFFF;
    border: 1px solid var(--text);
    box-sizing: border-box;
    border-radius: 20px;
}


.jobseeker-name>p {
    position: relative;
    margin-top: 28px;
    font-size: var(--text-size);
}

.jobseeker-name>p::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--primary);
    border-radius: 50%;
    left: -28px;
    margin-top: 2px;
}

.company-cover {
    position: relative;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.company-logo-wrap {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -30px;
    left: 43px;
    z-index: 20;
}

.company-logo-wrap img {
    /* max-width: 200px;
    height: auto; */
    width: 200px;
    height: 200px;
    border: 1px solid var(--secondary);
}

.company-content-wrapper {
    margin-top: 60px;
    margin-bottom: 40px;
}

.post-job-btn {
    padding: 10px 15px;
    width: 150px;
    text-align: center;
    border: 0;
}

.company-content-wrapper textarea {
    resize: none;
}

.employer-box {
    margin-bottom: 20px;
}

.employer-job-posted-box {
    margin-bottom: 20px;
}

.employer-job-posted-box .applybtn>a {
    color: var(--primary);
}

.employer-job-posted-box .applybtn>a i {
    margin-right: 3px;
}

.employer-landing-box .job-box-footer>a i {
    margin-right: 3px;
}

.employer-landing-box a {
    text-decoration: none;
}

.employer-landing-box .job-box-footer a i {
    color: var(--primary);
}

.employer-landing-box .job-box-footer a {
    color: #676767 !important;
}

.hot-jobs-header h3 {
    color: var(--secondary);
    padding: 3px 10px;
    border-bottom: 1px solid #0083d5;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.hot-jobs-header h3:hover {
    color: #0083d5;
    padding: 3px 10px;
    border-bottom: 1px solid var(--secondary);
}


.hot-jobs-header .icon-fire:before {
    content: "\f06d";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}

.hot-jobs-container .job-box {
    padding: 16px;
    box-shadow: 4px 4px 9px var(--shadow);
}

.hot-jobs-container .job-box img {
    height: 85px;
    width: 85px;
}

.hot-jobs-container .job-info {
    margin-left: 20px;
}

.hot-jobs-container .job-info ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.hot-jobs-container .job-info ul li a.job-title {
    font-size: var(--text-size);
    color: #0082d2;
    text-decoration: none;
    text-transform: capitalize;
}

.bg-default-img {
    background-repeat: no-repeat;
    background-size: cover;
}

/* seacch page */
.search-page .filter-box {
    padding: 12px 18px;
    border: 1px solid #00000020;
}

.search-page .card-title {
    font-weight: 500;
}

.search-page .icon-search {
    font-family: icomoon !important;
    font-display: swap;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.search-page .icon-reset {
    font-family: icomoon !important;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}


.search-page .search-results .reset-filter a {
    text-decoration: none;
}

.search-page .job-box {
    padding: 20px 20px 5px 20px;
    box-shadow: 4px 4px 9px var(--shadow);
    margin-bottom: 38px;
}

.search-page .job-box .job-logo {
    height: 150px;
    width: 150px;
}

.search-page .job-box .job-logo img {
    height: 150px;
    width: 150px;
    border: 1px solid #dee2e6 !important;
}

.search-page .job-info {
    margin-top: 14px;
}

.search-page .job-info a {
    text-decoration: none;
    transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.search-page .job-info a:hover {
    color: #ff0000;
}

.search-page .job-box-body {
    border-bottom: 1px solid var(--shadow);
    padding-bottom: 20px;
}

.job-box-footer .deadline-title {
    color: var(--text)000;
    font-size: 90%;
}

.search-page .job-info ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-left: 20px;
}


.search-page .job-info ul li a.job-title {
    font-size: 1.25rem;
    color: #0082d2;
    text-decoration: none;
}


/* single job page css */
.job-page-wrapper h5 {
    color: var(--primary);
    border-bottom: 2px solid var(--shadow);
    padding: 16px 0px;
    margin-bottom: 29px;
    font-weight: 700;
}

.job-page-wrapper span {
    color: #212529;
}


.employer-detail-box {
    margin-top: 50px;
    box-shadow: 4px 4px 9px var(--shadow);
    padding: 40px 0px 40px 40px
}

.employer-detail-box ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}


.employer-detail-box ul li {
    font-size: var(--text-size);
    margin-bottom: 20px;
}

.employer-detail-box ul li {
    color: #ff0000;
}

.employer-detail-box ul li span {
    margin-left: 4px;
}

.job-info-container {
    margin-top: 50px;
    box-shadow: 4px 4px 9px var(--shadow);
    padding: 40px;
}


.job-info-container ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.job-info-container ul li {
    font-size: var(--text-size);
    margin-bottom: 20px;
    color: #212529;
    border-bottom: 1px solid var(--shadow);
    padding-bottom: 7px;
    font-weight: 500;
}

.job-info-container ul li span {
    margin-left: 5px;
}

.job-description-container {
    margin-top: 50px;
    box-shadow: 4px 4px 9px var(--shadow);
    padding: 40px;
}

.job-apply-btn {
    margin-top: 50px;
}


/* login styles */
.login-container .content-wrapper {
    padding: 30px 33px 30px;
    max-width: 800px;
    margin: auto;
    border-radius: 15px;
}

.login-container .highlight {
    color: var(--primary);
    font-size: 1.75rem !important;
}

.login-container .login-as.active {
    background-color: var(--primary);
    color: #fff;
    outline: none !important;
}

.login-container .login-as {
    font-weight: normal;
    padding: 10px;
    border-radius: 4px;
    color: var(--text);
    outline: 1px solid var(--text);
}

.login-container .login-as:hover {
    cursor: pointer;
}

.login-container .login-as.active a,
.login-container .login-as.active a:hover {
    color: #fff;
    text-decoration: none;
}

.login-container .submit {
    width: 200px;
    font-size: var(--text-size);
    border-radius: 4px;
    padding: 10px;
    border: 1px solid var(--primary);
}

.login-container .seeker {
    margin-right: 2rem;
    width: 100%;
}

.login-container .employer {
    width: 100%;
}

.login-container .login-form .form-control {
    box-shadow: none;
}


.view-singlejob input {
    border: none;
}

.view-singlejob .col-form-label {
    color: var(--primary);
}

.basic-info-item {
    font-size: small;
}


.content-area {
    padding-top: 60px;
}

.dez-post-meta ul {
    margin: 0 -4px;
    list-style: none;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
}

.dez-post-meta li:after {
    content: "|";
    display: inline-block;
    font-weight: normal;
    margin-left: 5px;
    opacity: 0.5;
    margin-right: 5px;
}

.blog-style-1 .dez-post-title .post-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    color: #000;
    margin-top: 10;
}

.dez-post-title .post-title {
    margin-top: 15px;
    margin-bottom: 10px;
}

.dez-post-title .post-title a {
    font-weight: 600;
    max-width: 100%;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-title a {
    font-weight: 600;
}

.widget-title {
    position: relative;
    margin-bottom: 30px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #232323;
    font-weight: 600;
}

.widget-title {
    margin: 0 0 25px;
}

.recent-posts-entry .dez-post-media img {
    border-radius: 3px;
}

.dez-post-meta li:after {
    content: "|";
    display: inline-block;
    font-weight: normal;
    margin-left: 5px;
    opacity: 0.5;
    margin-right: 5px;
}

.dez-post-meta ul {
    margin: 0 -4px;
    list-style: none;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    color: #01C854;
}

.comment-reply-link {
    color: #66bb6a;
    font-weight: 700;
}

ol.comment-list li.comment .comment-meta:before {
    content: "\f133";
}

.dez-media img,
.dez-post-media img {
    width: 100%;
    height: auto;
}

img {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.blog-post {
    position: relative;
    margin-bottom: 50px;
}

.widget .post-title {
    line-height: 16px;
    margin-bottom: 8px;
    margin-top: 0;
    text-transform: capitalize;
    font-size: 15px;
    color: #404040;
    font-weight: 500;
}

.recent-posts-entry ul,
.category-entry ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.widget ul {
    list-style: none;
    padding-left: 0;
    display: table;
}

.widget_gallery li {
    display: inline-block;
    width: 33.33%;
    float: left;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    padding: 2px;
}

.widget_categories ul li,
.widget_archive ul li,
.widget_meta ul li,
.widget_pages ul li,
.widget_recent_comments ul li,
.widget_nav_menu li,
.widget_recent_entries ul li,
.widget_services ul li {
    padding-bottom: 18px;
    margin-bottom: 13px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.11);
    position: relative;
    padding: 10px 10px 10px 15px;
    margin-bottom: 0;
    line-height: 20px;
}

.widget_categories ul li:before,
.widget_archive ul li:before,
.widget_meta ul li:before,
.widget_pages ul li:before,
.widget_recent_comments ul li:before,
.widget_nav_menu ul li:before,
.widget_recent_entries ul li:before,
.widget_services ul li:before {
    content: "\f105";
    position: absolute;
    left: 0;
    top: 10px;
    display: block;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
}

.widget_categories ul li a,
.widget_archive ul li a,
.widget_meta ul li a,
.widget_pages ul li a,
.widget_recent_comments ul li a,
.widget_nav_menu li a,
.widget_recent_entries ul li a,
.widget_services ul li a {
    color: #767676;
    text-transform: capitalize;
}

.widget-newslatter .news-box {
    background-color: #F5F6F7;
    padding: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 4px;
}

.news-box:before {
    font-family: themify;
    content: "\e75a";
    font-size: 50px;
    font-weight: 700;
    opacity: 0.05;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 0.05;
}

.news-box form:after {
    color: #000000;
    content: "Newslatter";
    font-family: montserrat;
    font-size: 50px;
    font-weight: 700;
    opacity: 0.05;
    position: absolute;
    top: -40px;
    z-index: -1;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.widget-newslatter p {
    font-style: italic;
    font-size: 15px;
}

.widget-newslatter .form-control {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid;
    border-color: #d0d0d0;
    height: 45px;
    margin-bottom: 15px;
    padding: 5px 20px;
    border-radius: 4px !important;
}

.news-box form {
    position: relative;
}

.input-group {
    width: 100%;
}

.lightimg {
    cursor: pointer;
}

.dez-img-effect {
    position: relative;
    overflow: hidden;
    display: block;
    vertical-align: middle;
}

.recent-posts-entry .widget-post,
.recent-posts-entry .dez-post-info {
    overflow: hidden;
}

.recent-posts-entry .widget-post {
    margin-bottom: 10px;
}

.side-bar .widget {
    margin-bottom: 50px;
}

blockquote {
    padding: 16px 20px 16px 80px;
    font-size: 18px;
    font-style: italic;
    color: #555555;
    margin: 40px 0;
    border-left: none;
    line-height: 30px;
    position: relative;
    background: #f6f6f6;
    clear: both;
    border-left: 4px solid #EFBB20;
}

blockquote:before {
    content: '\f10d';
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-style: normal;
    color: #EFBB20;
    font-size: 35px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.blog-single .dez-post-text p {
    text-align: justify;
    line-height: 24px;
    margin-bottom: 24px;
}

.dez-post-text p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.alignright {
    float: right;
    margin: 5px 0 15px 25px;
}

.dez-post-tags .post-tags {
    margin: 0 -3px;
    list-style: none;
}

.dez-post-tags .post-tags a {
    border: 1px solid #ebedf2;
    padding: 2px 8px;
    color: #a9a9a9;
    margin: 0 3px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}

h4 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title);
    font-family: 'Rubik', sans-serif;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search-bx.style-1 .input-group-btn button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0;
    color: #000000;
    font-size: 15px;
    height: 45px;
    width: 40px;
    border-width: 0;
}

.search-bx.style-1 .input-group {
    border: 1px solid #efefef;
    border-radius: 4px;
    overflow: hidden;
}

.input-group {
    width: 100%;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
}

.blog-single .dez-post-tags {
    margin-top: 20px;
}

.dez-post-tags {
    border-top: 1px solid #E9E9E9;
    padding-top: 10px;
}

.clear {
    clear: both;
}

.share-details-btn ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-button.facebook {
    background-color: #3B5998;
}

.site-button.google-plus {
    background-color: #DE4E43;
}

.site-button.linkedin {
    background-color: #007BB6;
}

.site-button.instagram {
    background-color: #8A5A4E;
}

.site-button.twitter {
    background-color: #1EA1F3;
}

.site-button.whatsapp {
    background-color: #01C854;
}

.comments-area {
    padding: 0;
}

ol.comment-list {
    list-style: none;
}

ol.comment-list li.comment {
    position: relative;
    padding: 0;
}

ol.comment-list li.comment .comment-body {
    position: relative;
    padding: 20px;
    margin-bottom: 40px;
    margin-left: 80px;
    position: relative;
    border: 1px solid #e9e9e9;
    border-radius: 4px !important;
}

ol.comment-list li.comment .comment-body:before {
    border: 1px solid #e9e9e9;
    border-color: transparent #fff transparent #fff;
    z-index: 1;
    left: -12px;
    top: 22px;
}

ol.comment-list li.comment .comment-body:before,
ol.comment-list li.comment .comment-body:after {
    content: '';
    position: absolute;
    top: 20px;
    width: 0;
    height: 0;
    border-width: 10px 12px 10px 0;
    border-style: solid;
}

ol.comment-list li.comment .comment-author .avatar {
    position: absolute;
    top: 0;
    left: -80px;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 2px solid #FFF;
}

ol.comment-list li.comment .comment-author {
    display: block;
    margin-bottom: 5px;
}

ol.comment-list li.comment .comment-author .fn {
    display: inline-block;
    color: #000;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
    font-style: normal;
}

ol.comment-list li.comment .comment-author .says {
    display: none;
    color: #999999;
    font-weight: 600;
}

ol.comment-list li.comment .comment-meta {
    color: #8d8d8d;
    text-transform: uppercase;
    margin-bottom: 15px;
}

ol.comment-list li.comment p {
    margin: 0 0 5px;
}

ol.comment-list li.comment .reply {
    position: absolute;
    top: 25px;
    right: 30px;
    margin-top: -5px;
    color: #EFBB20;
    font-weight: 700;
}

ol.comment-list li.comment .comment-body:after {
    border-color: transparent #e9e9e9 transparent #e9e9e9;
    border-width: 12px 14px 12px 0;
    left: -14px;
}

ol.comment-list li.comment .comment-body:before,
ol.comment-list li.comment .comment-body:after {
    content: '';
    position: absolute;
    top: 20px;
    width: 0;
    height: 0;
    border-width: 10px 12px 10px 0;
    border-style: solid;
}

ol.comment-list li .children {
    list-style: none;
    margin-left: 20px;
}

ol.comment-list li.comment .reply a:before {
    content: "\f064";
    color: #555555;
    margin-right: 5px;
    vertical-align: middle;
}

ol.comment-list li.comment .comment-meta:before,
ol.comment-list li.comment .reply a:before {
    font-family: 'Font Awesome 5 Free';
    font-size: 16px;
}

ol.comment-list li .children li {
    padding: 0;
}

ol.comment-list li.comment {
    position: relative;
    padding: 0;
}

.comments-area .comments-title {
    text-transform: uppercase;
    font-size: 20px;
}

.comment-respond {
    padding: 30px 30px;
    border: 1px solid #e9e9e9;
}

.comment-respond .comment-reply-title {
    font-size: 20px;
    font-weight: 600;
}

.comment-respond .comment-reply-title {
    text-transform: uppercase;
    font-size: 20px;
}

.comment-reply-title {
    margin-top: 0;
}

.comments-area .comment-form {
    margin: 0 -15px;
}

.comments-area p:before {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 0;
    font-size: 16px;
    color: #ccc;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e1e6eb;
    text-align: center;
    border-radius: 4px 0 0 4px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-style: normal;
    color: #66bb6a;
    font-size: 20px;
}

.comments-area .comment-form p label {
    display: none;
    line-height: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}

.comments-area .comment-form p label {
    display: none;
    line-height: 18px;
    margin-bottom: 10px;
}

.comments-area .comment-form p input[type="text"],
.comments-area .comment-form p textarea {
    width: 100%;
    height: 40px;
    line-height: 6px 12px;
    padding: 10px 10px 10px 50px;
    border: 1px solid #e1e6eb;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-transform: capitalize;
    outline: 0;
}

.comments-area .comment-form p {
    width: 33.333%;
    float: left;
    padding: 0 15px;
    margin-bottom: 30px;
    position: relative;
}

.comments-area p.comment-form-author:before {
    content: '\f007';
}

.comments-area p.comment-form-email:before {
    content: "\f0e0";
}

.comments-area p.comment-form-url:before {
    content: "\f0ac";
}

.comments-area p.comment-form-comment:before {
    content: "\f075";
}

.comments-area .comment-form p input[type="text"],
.comments-area .comment-form p textarea {
    width: 100%;
    height: 40px;
    line-height: 6px 12px;
    padding: 10px 10px 10px 50px;
    border: 1px solid #e1e6eb;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-transform: capitalize;
    outline: 0;
}

.comments-area .comment-form p textarea {
    min-height: 120px;
}

.comments-area .comment-form p input[type="text"],
.comments-area .comment-form p textarea {
    width: 100%;
    height: 40px;
    line-height: 6px 12px;
    padding: 10px 10px 10px 50px;
    border: 1px solid #e1e6eb;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-transform: capitalize;
    outline: 0;
}

.comments-area .comment-form p.comment-form-comment {
    width: 100%;
    display: block;
    clear: both;
}

.comments-area .comment-form p.form-submit {
    clear: both;
    float: none;
    width: 100%;
    margin: 0;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

.share-details-btn ul li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 6px;
}

.button-sm {
    padding: 5px 10px;
    font-size: 12px;
}

.site-button,
.site-button-secondry {
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    outline: none;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    line-height: 1.42857;
    border-radius: 3px;
    font-weight: 400;
    text-align: center;
    white-space: pre;
}

.op4 {
    opacity: 0.4;
}

.dez-divider {
    height: 1px;
    position: relative;
    margin: 30px 0;
}

.bg-gray-dark {
    background-color: #d3d3d3;
}

.recent-posts-entry .dez-post-info,
.recent-posts-entry .dez-post-media {
    display: table-cell;
    vertical-align: middle;
}

.recent-posts-entry .dez-post-media {
    padding-right: 15px;
    width: 110px;
}

.dez-media,
.dez-media,
.dez-post-media {
    position: relative;
}

.blog-side-img {
    width: 300px;
}

.alignleft {
    float: left;
    margin: 5px 25px 15px 0;
}

.sticky-top {
    position: sticky;
    bottom: 100px;
    z-index: 99;
}

.item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.is-sticky {
    position: fixed;
    right: 70px;
    padding-right: 15px;
    z-index: 999;
}

.blog-post {
    position: relative;
    margin-bottom: 50px;
}

.blog-style-1 .dez-post-meta {
    margin-bottom: 10px;
    padding: 25px 5px 0;
}

.dez-post-meta ul {
    margin: 0 -4px;
    list-style: none;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
}

.dez-post-meta ul {
    margin: 0 -4px;
    list-style: none;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
}

.blog-style-1 .dez-post-title .post-title {
    margin-top: 0;
}

.dez-post-title .post-title {
    margin-top: 15px;
    margin-bottom: 10px;
}

.font-20 {
    font-size: 20px;
}

.dez-img-effect a {
    width: 100%;
    height: 100%;
}

.dez-post-text {
    margin-bottom: 10px;
}

.dez-media img,
.dez-post-media img {
    width: 100%;
    height: auto;
    aspect-ratio: 1.2;
    object-fit: cover;
}

.thumbnail img {
    aspect-ratio: 0;
}

.blog-content .ql-editor {
    min-height: 200px !important;
}

.blog-thumbnail img {
    border-radius: 0%;
    object-fit: cover;
}

#manager-cv .box-block {
    background: #fff;
    border-radius: 5px;
    box-shadow: -1px 1px 6px rgba(0, 0, 0, .05);
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 24px 24px 8px;
}

#manager-cv .box-block .box-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

#manager-cv .box-block .box-header .title {
    color: #000;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

#manager-cv #cv-list .btn-add-cv,
#manager-cv #cv-upload-list .btn-add-cv {
    background: #00b14f;
    border-radius: 32px;
    color: #fff;
    line-height: 1;
    padding: 11px 16px;
    font-weight: 700;
}

#suggest-ai .box-group, #suggest-ai .box-white {
    background: #fff;
    border-radius: 5px;
    box-shadow: -1px 1px 6px rgba(0,0,0,.05);
    margin-bottom: 16px;
    padding: 16px;
}

#suggest-ai .box-group-header {
    padding: initial;
}

#suggest-ai .mb-12px {
    margin-bottom: 12px!important;
}
#suggest-ai .box-group-title {
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
    padding: initial;
}
#suggest-ai .btn.btn-suggestion-more {
    background: #00b14f;
    border-color: #00b14f;
    border-radius: 5px;
    color: #fff;
    margin: 16px 0;
    padding: 9px 20px;
}
.job-list-default .job-item-default .body .title {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #212f3f;
    display: -webkit-box;
    flex: 1;
    font-weight: 600;
    line-height: 0;
    margin-bottom: 4px;
    margin-right: 24px;
    margin-top: 0;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.fa-add:before,
.fa-plus:before {
    content: "\+";
}

#manager-cv .box-no-cv {
    text-align: center;
}

.box-white {
    background-color: #fff;
}

.box {
    margin-bottom: 20px;
    padding: 20px;
}

#sidebar .account-type.vip span {
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 3px 7px;
}

.box-footer {
    margin: 10px 0;
}

.btn-topcv-primary {
    background-color: #00b14f;
    color: #fff;
}

#sidebar .profile-avatar .vip-badge {
    color: #fff;
    display: inline-block;
    font-size: 9px;
    line-height: 12px;
    padding: 1px 4px;
    position: absolute;
    right: 10px;
    top: 0;
    vertical-align: middle;
}

#sidebar .profile-avatar img {
    border-radius: 50%;
    height: 83px;
    max-width: 150px;
    width: 83px;
}

#sidebar .profile-avatar .vip-badge {
    color: #fff;
    display: inline-block;
    font-size: 9px;
    line-height: 12px;
    padding: 1px 4px;
    position: absolute;
    right: 10px;
    top: 0;
    vertical-align: middle;
}

#sidebar .cv-count-header {
    margin-bottom: 10px;
    width: 100%;
}

#sidebar .cv-count {
    background-color: #00b14f;
    border-radius: 50%;
    color: #fff;
    height: 83px;
    margin: 5px auto;
    padding-top: 15px;
    text-align: center;
    vertical-align: middle;
    width: 83px;
}

#sidebar .cv-count.gray {
    background-color: #a1a1a1;
}

#sidebar .cv-count-number {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
}

.text-center {
    text-align: center;
}

.text-highlight {
    color: #00b14f;
}

/* for dashboard-blogs */
.header {
    padding: 10px 0;
    margin-top: 15px;
    float: left;
    width: 100%;
    position: relative;
}

.bg-gray-900 {
    background-color: #0f172a !important;
}

.banner-home4 {
    padding-bottom: 85px;
}

.banner {
    padding-top: 50px;
}

.bg-gray-850 {
    background-color: #131c31;
}

.box-banner-4 {
    display: flex;
    width: 100%;
}

.box-banner-4 {
    align-items: center;
}

.box-banner-4 .banner-image {
    max-width: 211px;
    min-width: 211px;
    margin-right: 35px;
}

.box-banner-4 .banner-image img {
    border-radius: 50%;
    width: 100%;
    box-shadow: 0 3px 20px rgba(11, 209, 209, .2);
    border: 1px solid #0ea5ea;
}

.box-banner-4 .banner-info {
    width: 100%;
}

.color-linear {
    background: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea) var(--x, 0)/200%;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
}

.box-socials {
    display: inline-block;
    margin-top: 0;
}

.box-banner-4 .box-socials a,
.box-banner-4 .box-socials a span {
    height: 32px;
    width: 32px;
}

.box-banner-4 .box-socials a span.fb,
.box-banner-4 .box-socials a span.inst,
.box-banner-4 .box-socials a span.snap,
.box-banner-4 .box-socials a span.tw {
    background-size: auto 14px;
}

.box-banner-4 .box-socials a,
.box-banner-4 .box-socials a span {
    height: 32px;
    width: 32px;
}

.box-socials a,
.box-socials a span {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.box-socials a {
    margin-right: 10px;
    transition: all .2s;
}

.box-socials a span.fb,
.box-socials a span.inst,
.box-socials a span.snap,
.box-socials a span.tw {
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #606d8b;
}

.box-socials a span.inst {
    background-image: url(https://genz-nextjs-v2.vercel.app/_next/static/media/inst.a9fd04b5.svg);
}

.box-socials a span.fb {
    background-image: url(https://genz-nextjs-v2.vercel.app/_next/static/media/fb.b6264e14.svg);
}

.box-socials a span.snap {
    background-image: url(https://genz-nextjs-v2.vercel.app/_next/static/media/snap.3a605892.svg);
}

.box-socials a span.tw {
    background-image: url(https://genz-nextjs-v2.vercel.app/_next/static/media/tw.c9e568cf.svg);
}

.color-gray-500 {
    color: #94a9c9;
}

.card-blog-1,
.card-blog-1 .card-image {
    position: relative;
}

.card-blog-1 {
    padding: 20px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 30px;
    border: 1px solid #222f43;
    background-color: #131c31;
}

.card-blog-1,
.card-blog-1 .card-image {
    position: relative;
}

.post-type {
    background: url(https://genz-nextjs-v2.vercel.app/_next/static/media/post-type.209d025b.svg) no-repeat 50%;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.card-blog-1,
.card-blog-1 .card-image {
    position: relative;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.card-blog-1 .card-image img {
    border-radius: 16px;
    width: 100%;
    aspect-ratio: 1.8;
    object-fit: cover;
}

.timeread {
    background: url(https://genz-nextjs-v2.vercel.app/_next/static/media/clock.ddf50119.svg) no-repeat 0;
    display: inline-block;
    padding: 0 0 0 23px;
}

.box-author {
    display: flex;
    align-items: center;
}

.box-author .author-info {
    width: 100%;
}

.readmore {
    position: relative;
    padding-top: 13px;
    padding-left: 24px;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.pagination {
    display: inline-block;
    width: 100%;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.pagination li {
    margin-right: 6px;
    display: inline-block;
}

.pagination li a {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    line-height: 19px;
    font-weight: 700;
    line-height: 40px;
    background-color: #222f43;
    border: 0;
    padding: 0;
    text-align: center;
}

.fi-rr-arrow-small-right::before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f061";
    font-weight: 600;
}

.fi-rr-arrow-small-left::before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f060";
    font-weight: 600;
}

.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}

.pagination li:last-child a {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}

.pagination li:first-child a {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

.footer-1 {
    margin: 50px 0 24px;
    padding: 89px 128px 50px;
    border-radius: 48px;
    border-width: 1px;
    border-style: solid;
}

.footer .menu-footer {
    display: inline-block;
}

.footer .menu-footer li {
    list-style: none;
    margin-bottom: 12px;
}

.footer .menu-footer li a {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    display: block;
    padding: 0;
    transition-duration: .2s;
}

.color-gray-500 {
    color: #94a9c9;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.input-email,
.input-name {
    border: 0;
    padding: 12px 12px 12px 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: transparent;
    width: 100%;
    color: #fff;
    background: url(https://genz-nextjs-v2.vercel.app/_next/static/media/user.0b726622.svg) no-repeat 0;
}

.input-email {
    background: url(https://genz-nextjs-v2.vercel.app/_next/static/media/email.f913666e.svg) no-repeat 0;
}

.input-email,
.input-name {
    border: 0;
    padding: 12px 12px 12px 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: transparent;
    width: 100%;
    color: #fff;
}

.heading-4,
h3,
h4 {
    font-family: Noto Sans, sans-serif;
    font-weight: 700;
    color: #000;
}

.banner-info h3 {
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
}

.cover-home3 h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 61px;
}

.color-white {
    color: #b9e0f2 !important;
}

.card-info a {
    max-width: 100%;
}

.card-info h4 {
    max-width: 100%;
    font-size: 24px;
    white-space: nowrap;
    /* Prevent line wrapping */
    overflow: hidden;
    /* Hide any overflow */
    text-overflow: ellipsis;
    /* Add ellipsis (...) for truncated text */
}

.color-gray-700 {
    color: #66768f;
}

.author-info h6 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
}

.footer .text-lg {
    font-size: 20;
    font-weight: 700;
}

.box-author img {
    display: inline-block;
    margin-right: 15px;
    height: 48px !important;
    width: 48px !important;
    border-radius: 50% !important;
}

/* for devices smaller than 992px */
@media screen and (max-width:992px) {

    .login-container .content-wrapper,
    .register-container .content-wrapper {
        border: none !important;
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 0;
    }

    .login-container .entity-select {
        flex-direction: column;
    }

    .login-container .entity-select div:first {
        margin-bottom: 20px;
    }

    .company-logo-wrap {
        width: 100%;
        text-align: center;
        left: initial;
    }

    .company-logo-wrap img {
        width: 200px;
    }

    .company-content-wrapper {
        padding: 0px 10px;
    }

    .company-cover {
        background-position: 87% 50%;
    }

    .jobseeker-name ul {
        right: -3px;

    }

    .search-box .input-group {
        flex-direction: column;
    }

    .search-box .input-group>.form-control {
        margin-bottom: 10px;
        width: 100%;
    }


    .profile-pic {
        margin: auto;
    }

    .jobseeker-nav-pill {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .job-applied-header {
        margin-top: 50px;
    }

    .Navbar .row>div {
        padding: 0 !important;
    }

}


@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

.text-center {
    text-align: center;
}

.text-highlight {
    color: #00b14f;
}

/* for devices smaller than 992px */
@media screen and (max-width:992px) {

    .login-container .content-wrapper,
    .register-container .content-wrapper {
        border: none !important;
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 0;
    }

    .login-container .entity-select {
        flex-direction: column;
    }

    .login-container .entity-select div:first {
        margin-bottom: 20px;
    }

    .company-logo-wrap {
        width: 100%;
        text-align: center;
        left: initial;
    }

    .company-logo-wrap img {
        width: 200px;
    }

    .company-content-wrapper {
        padding: 0px 10px;
    }

    .company-cover {
        background-position: 87% 50%;
    }

    .jobseeker-name ul {
        right: -3px;

    }

    .search-box .input-group {
        flex-direction: column;
    }

    .search-box .input-group>.form-control {
        margin-bottom: 10px;
        width: 100%;
    }


    .profile-pic {
        margin: auto;
    }

    .jobseeker-nav-pill {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .job-applied-header {
        margin-top: 50px;
    }

    .Navbar .row>div {
        padding: 0 !important;
    }

}


@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}